<template>
  <div>
    <toolbar></toolbar>
    <app-menu></app-menu>  
    <banners></banners>
    <main-information></main-information>
    <store-products v-on:checkproduct="turnOnProductPage" v-bind:products="products"></store-products>
    <testimonials></testimonials>
    <instagram-check></instagram-check>
    <company-profile></company-profile>
    <app-back-top></app-back-top>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar.vue';
import AppMenu from '../components/AppMenu.vue';
import Banners from '../components/Banners.vue';
import MainInformation from '../components/MainInformation.vue';
import StoreProducts from '../components/Products.vue';
import Testimonials from '../components/BuyNow-Testimonials.vue';
import InstagramCheck from '../components/Instagram-check.vue';
import CompanyProfile from '../components/CompanyProfile.vue';
import AppFooter from '../components/AppFooter.vue';
import BackTop from '../components/AppBackTop.vue';

export default {
  name: 'app-index',
  props:['products'],
  components: {
    'Toolbar': Toolbar,
    'AppMenu': AppMenu,
    'Banners': Banners,
    'MainInformation': MainInformation,
    'StoreProducts': StoreProducts,
    'Testimonials': Testimonials,
    'InstagramCheck': InstagramCheck,
    'CompanyProfile':CompanyProfile,
    'AppFooter': AppFooter,
    'AppBackTop': BackTop,
  },

  methods:{
    turnOnProductPage(){
        console.log('ok');
        this.$emit('checkproduct');
    }
  }
}
</script>

<style>

</style>
