<template>
  <div>
	<toolbar></toolbar>
    <app-menu v-on:backhome="backHome"></app-menu>
    <app-shop-page v-bind:products="products"></app-shop-page>
    <app-back-top></app-back-top>
    <company-profile></company-profile>
    <app-footer></app-footer>
  </div>


</template>

<script>
import Toolbar from '../components/Toolbar.vue';
import AppMenu from '../components/AppMenu.vue';
import AppShopPage from '../components/AppShopPage.vue';
import CompanyProfile from '../components/CompanyProfile.vue';
import AppFooter from '../components/AppFooter.vue';
import BackTop from '../components/AppBackTop.vue';

export default {
  name: 'product',
  props:['products'],
  components: {
  	'Toolbar': Toolbar,
    'AppMenu': AppMenu,
    'AppShopPage': AppShopPage,
    'CompanyProfile':CompanyProfile,
    'AppFooter': AppFooter,
    'AppBackTop': BackTop,
  },
  methods: {
    backHome:function(){
      this.$emit('backhome')
    }
  }
 }

</script>

<style>

</style>