<template>

  <div v-on:click="backTop" class="app-back-top only-big-screen">
    <div class="up-icon"></div>
  </div>

</template>

<script>

export default {
  name: 'AppBackTop',
  data () {
    return {
    }
  },

  methods: {
    
    backTop(){
      let self = this;

      setTimeout(function(){
        if(document.documentElement.scrollTop>0){
           document.documentElement.scrollTop = document.documentElement.scrollTop-60;
           self.backTop();
        }
      },30);
    },
  } 
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  
.app-back-top {
  width: 3.5em;
  height: 3.5em;
  background: rgb(253, 198, 49);
  position: fixed;
  bottom: 10vh;
  right: 1.5em;
  border-radius: 50%;
}

.app-back-top:hover {
  background: #342b20;
}

.up-icon {
  width: 56px;
  height: 56px;
  position: relative;
  right: -1px;
}

.up-icon:before {
  content: '';
  width: .6em;
  height: .6em;
  border: 1px solid #6c6b6b;
  border-bottom: 0px;
  border-left: 0px;
  position: absolute;
  transform: rotate(-45deg);
  top: 1.1em;
  right: 1.5em;
}
 
.up-icon:after {
  content: '';
  width: 1.5em;
  height: 1.5em;
  border-right: 1px solid #6c6b6b;
  position: absolute;
  top: 1em;
  right: 1.8rem;
} 

.up-icon:hover:before, .up-icon:hover:after{
  border-color: #FFFFFF;
}

</style>
