<template>  
  <div class="app-footer">
    <div class="footer-container">
      <div class="mark">
        <img class="logo-yellow" src="../assets/logoTwo.png">
        <p class="p-style">this was created by Vue-cli © Privacy Policy.</p>
      </div>
      <img class="credit-card-style"src="../assets/credit-card.png">
    </div>
  </div>
</template>

<script>


export default {
  name: 'AppFooter',
  data () {
    return {
     
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .app-footer {
    background: #1e1707;
  }

  .credit-card-style {
    width: 200px;
    height: auto;
  }

  .p-style {
    color: #FFFFFF;
    opacity: .6;
  }

@media screen and (max-width:992px) {
  .footer-container {
    text-align: center;
    width: 90%;
    margin: 0% 5%;
    padding-bottom: 1rem;
  }

  .mark {
    margin-bottom: 1rem; 
  }

  .logo-yellow {
    width: 5em;
    margin: 1rem 0rem;
  }

}

@media screen and (min-width:993px) {
  .footer-container {
    width: 68%;
    display: flex;
    align-items: center;
    padding: 1rem 16%;
    justify-content: space-between;
  }

  .mark {
    width: 80%;
    display: flex;
    align-items: center;
  }

  .logo-yellow {
    width: 10%;
  }

  .p-style {
    padding-left: 1rem;
  }
}
  

</style>
