<template>
  <div>
    <nav class="nav bgn-orange" v-on:click="backToHomePage">
      <a class="back-home" href="#">  
        <img src="../assets/logoOne.png">
      </a>
      <ul class="only-big-screen">
        <li class="down-icon"><a class="nav-item" href="#">Home</a><div class="menu-icon-position"></div></li> 
        <li class="down-icon"><a class="nav-item" href="#">Pages</a><div class="menu-icon-position"></div></li>
        <li class="down-icon"><a class="nav-item" href="#">Shop </a><div class="menu-icon-position"></div></li> 
        <li class="down-icon"><a class="nav-item" href="#">Blog </a><div class="menu-icon-position"></div></li> 
        <li><a class="nav-item" href="#">Contacts</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'AppMenu',
  data () {
    return {
  
    }
  },
  methods: {
    backToHomePage(){
      this.$emit('backhome');
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav {
  display: flex;
  padding: .2em 7.5em;
}

.nav>img {
  height: auto;
  width: 100%;
}

.bgn-orange {
  background: #fdc631; 
}

.back-home {
  width: 100px;
  display: flex;
  align-items:center;
}

.nav-item:hover {
  color: hsla(0,100%,100%,1);
  font-weight: bold;
}

.down-icon:hover:after {
  border-color: hsla(0,100%,100%,1);
}

.menu-icon-position {
  top: -.8em;
  left: 3.2em;
  position: absolute;
}

@media screen and (max-width:576px) {
  .nav {
    justify-content: center;
  }

  .back-home {
    padding: 1rem 0rem;
  }
}

@media screen and (min-width:577px) and (max-width:992px){
  .back-home {
    width: 80px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: .2em 1em;
  }

  .nav>ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
}


@media screen and (min-width:993px) {
  .back-home {
    width: 10%;
  }

  .nav {
    justify-content: space-between;
  }

  .nav>ul {
    width: 40%;
  }
}

</style>
