<template>
  <div class="shop-page">
    <div class="categories">
      <h3>Categories</h3>
      <ul>
        <li><a class="categories-a" href="#">Bee Hives & Kits</a></li>
        <li><a class="categories-a" href="#">Honey</a></li>
        <li><a class="categories-a" href="#">Honey Bears</a></li>
        <li><a class="categories-a" href="#">Honey Jars</a></li>
        <li><a class="categories-a" href="#">Honey Pails</a></li>
      </ul>
    </div>

    <div class="product-container">
      <div class="shop-area">
        <div class="image-area">
          <img class="product-photo" v-bind:src="products[0].photo">
          <div class="other-images">
            <img class="other-image" v-bind:src="products[0].photo">
          </div>
        </div>

        <div class="purchase-area">
          <a href="#" class="creator">{{ products[0].creator }}</a>
          <h2>{{ products[0].name }}</h2>
          <p class="price">{{ products[0].price }}</p>

          <div class="change-size">
            <p>size:</p>
            <select class="select-style">
              <option value="choose">Choose an option</option>
              <option value="large-size">48 Ounce</option>
              <option value="small-size">16 Ounce</option>
            </select>
          </div>

          <div class="amount">
            <div class="dissplay-amount">
              <input class="how-much" type="number" v-bind:value="orderQuantity" min="1">
              <div class="quantity-btn-container">
                <button v-on:click="buyMore" class="quantity-add js-quantity-add">+</button>
                <button v-on:click="buyLess" class="quantity-subtract js-quantity-subtract">-</button>
              </div>
            </div>
            
            <button type="button" class="add-to-chart">ADD TO CHART</button>
          </div>

          <div class="wishlist-compare">
            <button class="widhlist-btn"><div class="heart-icon"></div><p>ADD TO WISHLIST</p></button>
            <button class="compare-btn"><div class="eye-icon"></div><p>ADD TO COMPARE</p></button>
          </div>

          <div class="share-group">
            <div class="fb-share-button" data-href="http://localhost:8080/#/" data-layout="button_count" data-size="large"><img class="share-img" src="../assets/facebook-logo.png">
            </div>

            <a class="twitter-share-button">
              <img class="share-img" src="../assets/twitter-logo.png">
            </a>
            <a><div class="g-plus" data-action="share"><img class="share-img" src="../assets/google-logo.png"></div></a>
          </div>
        </div>
      </div>

      <div class="resume">
        <ul class="resume-nav">
          <li><a href="#" v-on:click.prevent="checkDescription" v-bind:class="{underline:description}" class="resume-nav-a">Description</a></li>
          <li><a href="#" v-on:click.prevent="information" v-bind:class="{underline:additionalInformation}" class="resume-nav-a">Additional information</a></li>
          <li><a href="#" v-on:click.prevent="Review" v-bind:class="{underline:review}" class="resume-nav-a">Reviews</a></li>
        </ul>
      </div>

      <div class="resume-content">
        <div v-if="description" class="description">
          <h3 class="resume-h3">Description</h3>
          <p>The texture of raw honey is butter-like with plenty of soft tiny crystals.</p>
          <p>The color of raw honey depends on the nectar source and varies from milky white to dark amber.</p>
          <p>Raw honey is collected straight from the honey extractor.</p>
          <p>It’s completely UNPROCESSED, i.e. unfiltered and unheated honey.</p>
          <p>Raw honey contains bee pollen helps combat seasonal allergies, has a variety of scientifically proven antibacterial as well as antioxidant properties. Also, propolis has anti-tumor effects and plays a role in stomach ulcer prevention and liver health.</p>
          <p>Raw honey is not commercially available in most supermarkets.</p>
          <p>Pure American unpasteurized honey.</p>
        </div>

        <div v-if="additionalInformation" class="additional-information">
          <h3 class="resume-h3">Additional information</h3>
          <table class="information-table">
            <tr>
              <th>Brand</th>
              <td>Honey Tree's</td>
            </tr>
            <tr>
              <th>Manufacturer  </th>
              <td>Minnesota</td>
            </tr>
            <tr>
              <th>Size</th>
              <td>12 Ounce, 6 Ounce</td>
            </tr>
            <tr>
              <th>Calories Per Serving</th>
              <td>69 Calories</td>
            </tr>
            <tr>
              <th>Temperature of storage</th>
              <td>15°-25°</td>
            </tr>
          </table>
        </div>

        <div v-if="review" class="review">
          <h3 class="resume-h3"> review for {{products[0].name}}</h3>
          <div v-for="userReview in userReviews" class="review-content-container">
            <img class="user-photo" v-bind:src="userReview.userPhoto">
            <div class="text-content">
               <p>{{userReview.publishTime}}</p>
               <div class="prestige js-prestige">
                 <span class="star-style js-star">★</span>
                 <span class="star-style js-star">★</span>
                 <span class="star-style js-star">★</span>
                 <span class="star-style js-star">★</span>
                 <span class="star-style js-star">★</span>
              </div> 
              <p class="user-review">{{userReview.reflection}}</p>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</template>

<script src="https://apis.google.com/js/platform.js" async defer>{lang: 'zh-TW'}</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script>
import User1 from "../assets/user1.jpg";
import User2 from "../assets/user2.jpeg";
import User3 from "../assets/user3.jpeg";

export default {
  name: 'AppShopPage',
  props:['products'],

  data () {
    return {
      orderQuantity:1,

//User的留言區資料
      userReviews:[
        {
          userPhoto: User1,
          publishTime: 'July 20 2017',
          prestige: 4,
          reflection:'24/7 helpdesk is also available. I Love it!',
        },
        {
          userPhoto: User2,
          publishTime: 'July 22 2017',
          prestige: 3,
          reflection:'Thanks once again for such a great service.',
        },
        {
          userPhoto: User3,
          publishTime: 'July 28 2017',
          prestige: 5,
          reflection:'Yes!You right!',
        }
      ],

// 產品履歷（resume）的menu切換開關
      description: true,
      additionalInformation: false,
      review: false,
    }
  },
  
  methods: {
    checkDescription() {
      if(this.description != true){
          this.description = true;
          this.additionalInformation = false;
          this.review = false;
      }
    },

    information() {
      if(this.additionalInformation != true){
        this.description = false;
        this.additionalInformation = true;
        this.review = false;
      }
    },

    Review() {
      let self = this;

      function reviewTrue() {
        if(self.review != true){
          self.description = false;
          self.additionalInformation = false;
          self.review = true;
        }
        // starRating();
      };
      reviewTrue(); 

      // function starRating(){

      //   let prestigeDoms = document.getElementsByClassName('js-prestige');
      //   console.log(prestigeDoms,prestigeDoms[0]);
        
      //   for (let i=0; i<self.userReviews.length; i++){      
      //     let prestige = self.userReviews[i].prestige; 
        
      //     for(let k=0; k<prestige; k++){
      //       console.log(prestigeDoms[i].querySelectorAll('.js-star'));
      //       let stars = prestigeDoms[i].querySelectorAll('.js-star');
      //       stars[k].classList.add('star-lightened');     
      //     }
          
      //   }
      // }
    },

    buyMore(){
      this.orderQuantity ++;
    },

    buyLess(){
      if(this.orderQuantity>1){
        this.orderQuantity --;
      }
    }
  }
}

</script>

<style scoped>

a {
  display: block;
}

th {
   border-right: 1px solid #e8e9e8;
   width: 30%;
   padding: .6em;
   text-align: left;
}

tr:nth-child(even) {
  background: #f4f5f6;
}

.purchase-area h2 {
  font-family: Merriweather,serif;
}

.product-photo {
  background: #f1f1f1;
}

.other-image {
  width: 5em;
}

.user-photo {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.price {
  font-size: calc(1.5em + 30%);
  font-weight:bold;
  color: #fec427;
}

.price:after {
  content: '$';
  margin-left: .2em; 
}

.dissplay-amount {
  display: flex;
  justify-content: flex-start;
}

.how-much {
  width: 6em;
  font-size: 20px;
  text-align: center;
}

.change-size {
  margin-top: 2em;
}

.how-much, .select-style {
  border: 1px solid #eeeeee;
  border-radius: 0%;
}

.select-style {
  padding: .7rem 5rem;
  padding-left: 1rem;
  margin: 1.8em 0;
}

.quantity-add, .quantity-subtract {
  color: hsla(0,0%, 50%,1);
  background: hsla(0,0%, 90%,1); 
}

.wishlist-compare {
  margin-top: 2em;
}

.wishlist-compare p{
  padding-left: 1em;
}

.widhlist-btn, .compare-btn {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  padding: .7em 0;
}

.add-to-chart {
  width: 14em;
  font-size: 1rem;
  background: rgb(253, 198, 49);;
}

.add-to-chart:hover {
  background: #342b20;
  color: #FFFFFF;
}

/*社群分享按鈕*/
.share-group {
  width: 11rem;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.share-img {
  width: 50%;
  padding: .5rem;
  padding-left: 1rem;
}

.fb-share-button {
  width: 3rem;
  background: #3b5998;
}

.twitter-share-button {
  width: 3rem;
  background: #2aa9e0;
  display: inline-block;
}

.g-plus {
  width: 3rem;
  background: #d3492c;
  border-bottom: 1px solid #d3492c;
}

.description p {
  color: #999999;
  font-size: 16px;
  line-height: 2.5rem;
}

.resume-h3 {
  margin-top: 2.5rem;
  margin-bottom: .6rem;
}

.underline {
  color: #e9a829;
  position: relative;
}

.underline:after {
  content: '';
  border-bottom: 4px solid #fbd319;
  padding-bottom: 1.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -.1em;
}

.resume {
  border-bottom: 1px solid #f1f1f1;
}

.resume-nav-a {
  font-size: 15px;
  text-transform:uppercase;
}

.resume-nav-a {
  height: 100%;
  position: relative;
}

.resume-nav-a:hover {
  color: #e9a829;
}

.resume-nav-a:hover:after{
  content: '';
  border-bottom: 4px solid #fbd319;
  padding-bottom: 1.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -.1em;
}

.review-content-container {
  margin-top: 2.5em;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 1.5em; 
}

.text-content {
  margin-left: 2.5em;
}

.text-content p {
  padding: .6em 0;
}

.user-review {
  font-size: 16px;
}

.categories-a {
  border-bottom: 1px solid #f1f1f1;
  font-size: 16px;
  padding: 1.5rem 0;
}

.categories-a:nth-child(5) {
  border-bottom: 0px;
}

.categories-a:hover {
  color: #fec427;
}

@media screen and (max-width:992px) {
  td {
    padding: 0em .5em;
  }

  .shop-page {
    width: 88vw;
    margin: 2rem 6vw;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column-reverse;
  }

  .purchase-area {
    margin-top: 2rem;
  }

  .select-style { 
    margin-bottom: 3em;
  }

  .dissplay-amount {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 100%;
    margin-left: .2em;
  }

  .how-much {
    width: 30%;
    text-align: center;
  }

  .quantity-btn-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .quantity-add, .quantity-subtract {
    font-size: 2em;
    width: 45%;
  }

  .add-to-chart {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1.5rem 0rem;
    font-size: 1rem;
  }

  .review-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text-content {
    width: 66%;
    margin-top: -.5em;
  }

  .resume-nav {
    margin-top: 3rem;
    display: flex;
    flex-direction:column;
    text-align: center;
  }

  .resume-nav-a {
    padding: .9rem 0;
  }

  .underline:after {
    border-bottom: 2px solid #fbd319;
    left: 0;
  }

  .description p {
    color: #999999;
    font-size: 16px;
    line-height: 1.8rem;
  }

  .categories {
    margin-top: 3em;
  }
}


@media screen and (min-width:993px){
  td {
    padding: 0em 2em;
  }
  .shop-page {
    margin: 5% 8%;
    display: flex;
    justify-content: space-between;
  }

  .categories {
    width: 20%;
  }

  .product-container {
    width: 73%;
  }

  .shop-area {
    display: flex;
    justify-content: space-between;
  }

  .image-area {
    width: 50%;
    margin-right: 2em;
  }

  .amount {
    display: flex;
    justify-content: flex-start;
  }

  .other-images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: .6em;
  }

  .resume-nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 3em;
    padding-left: 0;
  }

  .additional-information {
    margin-bottom: 5em;
  }

  .information-table {
    width: 100%;
  }

  .quantity-btn-container {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left: .2em;
  }

  .quantity-add, .quantity-subtract {
    height: 48%;
  }

  .review-content-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .text-content {
    width: 25vw;
    display: flex;
    flex-direction:column;
  }

  .resume {
    height: 3.8rem;
  }

  .resume-nav {
    height: 3.8rem;
  }

  .add-to-chart {
    margin-left: 1rem;
  }
}
</style>