<template>
  <div class="banner">
    <div class="banner-content">
      <div class="banner-text">
        <div class="banner-h1"><h1>{{ headline[i] }}</h1></div>
        <div><h2>{{ subtitle[i] }}</h2></div>
        <div class="description-position only-big-screen"><p> {{ description[i] }}</p></div>
        <div><button class="shop-btn">Shop Now</button></div>
      </div>
  
      <div class="banner-img-position">
        <img class="banner-img" v-bind:src="bannersImg[i]">
      </div>
    </div>
  </div>
</template>

<script>
import bannersImgOne from '../assets/img1.png';
import bannersImgTwo from '../assets/img2.png';
import bannersImgThree from '../assets/img3.png';

export default { 

  name: 'Banners',
  data () {  
    return {
      headline:['Honey','Organic','Amber'],
      subtitle:['Sweet','Honey','Colored'],
      description:['We operate in one of the world’s most perfect honey producing environments, and are proud to supply some of the worlds best honey, gathered right here in New Zealand.','Enjoy sweet, aromatic honey made by hardworking people of ecologically clean raw materials in the most pure environment!','Try the most delicious, fresh and delightful honey made of fragrant flowers with care and love to our clients!'],
      bannersImg:[bannersImgOne, bannersImgTwo, bannersImgThree],
      i:0,
    }
  },

   // Vue組件安裝完成後會執行mounted的內容，mounted要放在Vue 的框框裡
  mounted: function mounted(){
      //而且還要用Vue的this，很氣！！！
     this.bannersPlaying();
  },

  methods: {
    bannersPlaying() { 
      let self = this;
      
      setTimeout(function(){
        if(self.i<self.headline.length-1){
          self.i++;
        }else{
          self.i = 0;
        }  
        self.bannersPlaying();
      },2500);
    },
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.banner {
  display: flex;
  justify-content: center;
  background: #f3f3f3;
}

.banner-content {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
}

.banner-h1 {
  margin-top: .3em;
  margin-bottom: 0em;
}

.banner-img-position {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.description-position {
  margin-top: .5rem; 
  margin-bottom: 2.7rem;
  height: 5rem;
}

@media screen and (max-width:576px) {
  .banner-content {
    width: 100%;
    margin: 0px 1.5rem 1.5rem 2rem;
  }

  .banner-text {
    width: 50%;
  }

  .banner-img {
    width: 100%;
  }
}

@media screen and (min-width:577px) and (max-width:992px) {
  .banner {
    padding: 1rem 5%;
  }

  .banner-content {
    height: 22.5em;
  }

  .banner-text {
    width: 80%;
  }

  .banner-border-position {
    margin-left: 3%;
  }

  .description-position {
    margin-top: .3rem; 
    margin-bottom: 1.3rem;
    height: auto;
  }

  .banner-img {
    width: 90%;
  }
}

@media screen and (min-width:993px) {
  .banner-content {
    width: 60vw;
    height: 30em;
  }

  .banner-border-position {
    margin-left: 8%;
  }

  .banner-text {
    width: 80%;
  }

  .description-position {
    width: 25vw;
  }
  
  .banner-img {
    width: 100%;
  }
}

</style>

<!-- Leckerli One -->