<template>
  <div class="testimonials">
    <div class="large-banner">
      <div class="area-and-center">
        <h1 class="h1-style">{{ largeBannerH1 }}</h1>
        <p class="lag-text-style lag-text-position">{{ largeBannerText }}</p>
        <button class="shop-btn">Shop Now</button>
      </div>
    </div>

    <div class="test-reports">
      <div class="illustration-position only-big-screen">
        <img class="illustration" src="../assets/honey-img.jpg">
      </div>

      <div class="testimonials-content">
        <h3>Testimonials</h3>
        <div class="icon-comma" v-for="testReport in testReports">
          <p class="test-report-style"> {{ testReport.article }} </p>
          <div class="tester-container">
            <img class="personal-photo" v-bind:src="testReport.personalPhoto">
            <h4 class="uppercase-letter tester"> — {{ testReport.tester }}</h4>
          </div>
        </div>
      </div>  
    </div>

  </div>
</template>

<script>

import testerPhotoOne from '../assets/tester1.png';
import testerPhotoTwo from '../assets/tester2.png';

export default {
  name: 'Testimonials',
  data () {
    return {
      largeBannerH1: 'Super Sweet Nectarous Honey',
      largeBannerText: 'Taste fresh, organic and aromatic honey made with love! All your favorite flavors of honey in one store!',

      testReports: [
        { tester: 'Jessica Priston',
          personalPhoto: testerPhotoOne,
          article: "I’d like to thank you for such a fast shipment of my order! I was pleased with such a nice customer support which helped me to make the right choice and order very delicious and fragrant honey! I’ll certainly get back again.",
        },

        {
          tester: 'Dayle Peters',
          personalPhoto: testerPhotoTwo,
          article: "It was my first time to buy honey online and I can say I will order it again and again! These tiny jars are so good-looking in my kitchen! Thank you, guys, for your attention to details and customers! I’ll certainly get back again.",

        }

      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.test-reports {
  border-top: 2px solid #FFFFFF;
}

.large-banner {
  width: 100%;
  background: url('../assets/shopnow-large-bgn.jpg')  no-repeat;
  opacity: .9;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-position: center center;
}

.area-and-center {  
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

/*中、大網文字內容左側插圖、照片*/
.illustration-position {
    width: 33.3%;
    overflow: hidden;
  }

.illustration {
  position: relative;
  width: auto;
  right: 8.5em;
}

.h1-style {
  line-height: 1.5;
}

.lag-text {
  margin-bottom: 3rem;
}

.lag-text-style {
  font-size: 1.3rem;
}

.testimonials-content {
  padding: 1.5em 5%;
}

.test-report-style {
  font-size: 16px;
  color: #999a9f;
  padding-top: 2em;
}

.tester {
  margin-left: 1em;
  color: #2f1a1a;
}

.shop-btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/*體驗心得文字前的對話框*/
.icon-comma {
  position: relative;
}

.icon-comma:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url('../assets/icon-comma.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
}

.personal-photo {
  width: 60px;
  height: auto;
 }

.tester-container {
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  margin-top: 1.2em;
}


@media screen and (max-width:576px) {
  .large-banner {
    background-position: center top;
    background-size: auto 100%;
  }

  .h1-style {
    font-size: calc(1.5em + 160%);
  }

  .area-and-center {  
    width: 80%;
  }

  .testimonials-content {
    width: 90%;
  }

  .tester-container {
    width: 65%;
  }

  .icon-comma {
    padding-top: 2.8em;
  }

  .icon-comma:before {
    top: 2.5em;
  }
}

@media screen and (min-width:577px) and (max-width:992px) {
  .area-and-center {  
    width: 86%;
  }

  .test-reports {
    display: flex;
    justify-content: space-between;
  }

  .testimonials-content {
    width: 66.6%;
  }

  .test-report-style {
    font-size: 14px;
    padding-top: 2.5em;
  }

}


@media screen and (min-width:993px) {
  .h1-style {
    font-size: 4rem;
  }

  .area-and-center {  
    width: 35%;
  }

  .test-reports {
    display: flex;
    justify-content: space-between;
  }

  .testimonials-content {
    width: 56.6%;
  }

  .tester-container {
    width: 40%;
    display: flex;
    align-items: center;
  }

  .icon-comma {
    padding: 0em 2.5em 0em 4.5em;
  }

  .icon-comma:before {
    left: -.2em;
    top: 2.5em;
  }
}


</style>