<template>
  <div class="company-profile">
    <div class="company-container">
      <div class="web-item-information">
        <h4 class="company-profile-h4">About</h4>
        <p class="company-profile-content">Our business is your good health. Medical Equipment Supplies has been the source for medical supplies and equipment   n the city area for years because of our superior commitment to provide you with the absolute best in home healthcare.    ur top priority is making sure all your home medical needs are met.</p>
      </div>
      
      <div class="web-item-information">
        <h4 class="company-profile-h4">Categories</h4>
        <ul class="company-profile-content">
          <li><a href="#" class="color-style hover-style">Buzz Honey</a></li>
          <li><a href="#" class="color-style hover-style">Buzz’s Bees</a></li>
          <li><a href="#" class="color-style hover-style">Holiday</a></li>
          <li><a href="#" class="color-style hover-style">Honey Facts</a></li>
          <li><a href="#" class="color-style hover-style">Honey Recipes</a></li>
        </ul>
      </div>
      <div class="web-item-information">
        <h4 class="company-profile-h4">Tags</h4>
        <div class="tags-container">
          <p v-for="tag in tags" class="company-profile-content tag-style">{{ tag.label }}</p> 
        </div> 
      </div>
          <div class="web-item-information">
        <h4 class="company-profile-h4">My Account</h4>
        <ul class="company-profile-content">
          <li><a href="#" class="color-style hover-style">Checkout</a></li>
          <li><a href="#" class="color-style hover-style">My Account</a></li>
          <li><a href="#" class="color-style hover-style">Wishlist</a></li>
          <li><a href="#" class="color-style hover-style">Compare</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CompanyProfile',
  data () {
    return {
      tags:[
        { label:'Comb' },
        { label:'Holiday' },
        { label:'Meadow' },
        { label:'Natural Raw' },
        { label:'Pecans' },
        { label:'Pepper Honey' },
        { label:'Riverland' },
        { label:'Walnuts' },
        { label:'Waste' },
        { label:'Wraps' }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.company-profile-h4, .web-item-information p, .web-item-information a {
  opacity: .6;
}

.company-profile-content li {
  padding-bottom: .2rem;
}

.company-profile-h4 {
  font-weight: bold;
}

.company-profile-content {
  margin: 0px;
  margin-top: 1rem;
  padding: 0px;
}

.company-profile, .color-style {
  color: #FFFFFF;
}

.company-profile {
  background: #251d08;
  display: flex;
  justify-content: center;
}

/*讓tags裡的標籤浮動排列*/
.tags-container {
  display: flex;
  flex-wrap:wrap;
}


.web-item-information {
  text-align: justify;
}

.hover-style:hover {
  font-weight: bold;
  opacity: 1;
  color: #fdc631;
}

.tag-style {
  padding: .8rem 1rem;
  margin-top: .2rem; 
  margin-right: .2rem;
  border: 1px solid rgb(67,64,57);
  background: rgba(34,34,34, .28);
}

.tag-style:hover {
  opacity: 1;
  border-color: rgba(176,96,48, .6);
  font-weight: bold;
}

@media screen and (max-width:576px) {
  .company-container {
    margin: 5rem 10%;
    margin-bottom: 0rem;
  }

  .web-item-information {
    margin-bottom: 3rem;
    text-align: justify;
  }
}

@media screen and (min-width:577px) and (max-width:992px) {
  .company-container {
    width: 90%;
    padding-top: 3em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .web-item-information {
    width: 45%;
    margin-bottom: 3em;
  }
}


@media screen and (min-width:993px) {
  .company-container {
    width: 68%;
    padding-top: 3em;
    padding-bottom: 4em;
    display: flex;
    justify-content: space-between;
  }

  .web-item-information {
    width: 23%;
    text-align: justify;
  }
}
</style>
