<template>
  <div class="instagram-check-container">
    <img v-for="photo in instagramPhotos" v-bind:src ="photo.IntagrameImg" class="instagram-poto-size">        
  </div>
</template>

<script>

import instagramImgOne from '../assets/instagram-img01.jpg';
import instagramImgTwo from '../assets/instagram-img02.jpg';
import instagramImgThree from '../assets/instagram-img03.jpg';
import instagramImgFour from '../assets/instagram-img04.jpg';
import instagramImgFive from '../assets/instagram-img05.jpg';
import instagramImgSix from '../assets/instagram-img06.jpg';


export default {
  name: 'InstagramCheck',
  data () {
    return {
      instagramPhotos:[
        { IntagrameImg: instagramImgOne },
        { IntagrameImg: instagramImgTwo },
        { IntagrameImg: instagramImgThree },
        { IntagrameImg: instagramImgFour },
        { IntagrameImg: instagramImgFive },
        { IntagrameImg: instagramImgSix }
      ]
    }
  }
}
</script>


<style scoped>

.instagram-check-container {
  display: flex;
}

@media screen and (max-width:993px) {
  .instagram-check-container {
    display: flex;
    align-items:flex-start;
    flex-wrap:wrap;
  }

  .instagram-poto-size {
    width: 33.3%;
  } 
}


@media screen and (min-width:992px) {

  .instagram-check-container {
    justify-content:flex-start;
    align-items:flex-start;
    margin-top: -.25em;
  }

  .instagram-poto-size {
    width: 16.66%;
  }

  
}

</style>
