<template>
  <div>
    <div class="informations-container">
      <div class="information">
        <a href="#" class="a-block">
          <div class="cover-img"></div>
          <img class="information-img" v-bind:src="informationImg[0]">
        </a>
      </div>

      <div class="information">
        <a href="#" class="a-block">
          <div class="cover-img"></div>
          <img class="information-img" v-bind:src="informationImg[1]">
        </a>
      </div>

      <div class="information">
        <a href="#" class="a-block">
          <div class="cover-img"></div>
          <img class="information-img" v-bind:src="informationImg[2]">
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import informationImgOne from '../assets/information-img1.jpg';
import informationImgTwo from '../assets/information-img2.jpg';
import informationImgThree from '../assets/information-img3.jpg';

export default {
  name: 'MainInformation',
  data () {
    return {
      informationImg:[informationImgOne,informationImgTwo,informationImgThree],
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.informations-container {
  display: flex;
}

.information {
  position: relative;
}

.information-img {
  width: 100%;
  height: auto;
}

.cover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/information-bg.png);
  background-repeat: no-repeat;
  opacity:0.5;
}


@media screen and (max-width:576px) {
  .informations-container {
     flex-direction:column;
     margin-top: 2.5em;
  }

  .information {
    margin: .8em 5%;
  }
}

@media screen and (min-width:577px) and (max-width:992px) {
  .informations-container {
     margin: 1.8em 2vw;
     justify-content: space-around;
  }

  .information {
    width: 30%;
  }
}


@media screen and (min-width:993px) {
  .informations-container {
    margin: 2.5em 9vw;
    justify-content: space-between;
  }

  .information {
    width: 30%;
  }
}

</style>
