<template>
  <div>
    <div class="store-products">
      <h3>Featured Products</h3>

      <div class="products-container">
        
        <div class="product-item" v-for="product in products" v-on:click="turnPage">
          <a v-bind:class="{ featured:product.preOrder }" class="a-block"><img class="product-photo" v-bind:src="product.photo"></a>
          
         <!--  The desciption of product's information -->
          <div>
            <p class="creator">{{ product.creator }}</p>          
            <div class="products-h4-position">
              <h4 class="products-h4-style js-products-h4">{{ product.name }}</h4>
            </div>          
            <div class="prestige js-prestige" v-show="product.preOrder===false">
              <span class="star-style js-star">★</span>
              <span class="star-style js-star">★</span>
              <span class="star-style js-star">★</span>
              <span class="star-style js-star">★</span>
              <span class="star-style js-star">★</span>
            </div>    
            <p class="price">{{ product.price }}</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</template>

<script>

export default {
  name: 'StoreProducts',
  props:['products'],
  data () {
    return {
      nameLength: 17,
      i:0,
    }
  },

  // Vue組件安裝完成後會執行mounted的內容，mounted要放在Vue 的框框裡
  mounted: function mounted(){
    //而且還要用Vue的this，很氣！！！
    this.starRating();
  },

  methods: {
    starRating(){
      let self = this;
      let i = self.i;

      let prestigeDoms = document.querySelectorAll('.js-prestige');

      for (i=0; i<self.products.length; i++){        
        let prestige = self.products[i].prestige; 
        
        for(let k=0; k<prestige; k++){
          let stars = prestigeDoms[i].querySelectorAll('.js-star');
          stars[k].classList.add('star-lightened');
        }
      }
    },

    turnPage(){
      this.$emit('checkproduct');
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .products-h4-position {
    overflow: hidden;
  }

  .products-h4-style {
    font-family: Merriweather, serif;
  }

  .products-h4-style {
    font-size: calc(1em + 20%);
    font-weight: bold;
    margin: 2px;
  }

  .products-container {
    display: flex;
  }

  .product-photo {
    background: #f1f1f1;
  }

  .price {
    font-size: calc(1em + 20%);
    font-weight:bold;
    color: #fec427;
  }

  .price:after {
    content: '$';
    margin-left: .2em; 
  }

/*  在商品img上加featured標籤*/
  .featured {
    position: relative;
    display:inline-block;
  }

  .featured:before {
    content: 'featured';
    padding: .3rem .6rem;
    font-size: 10px;
    position:absolute;
    left: .6rem;
    color: #594614;
    background: #fdc631;
    top: .4rem;
  }


  @media screen and (max-width:576px) {
    .store-products {
      margin: 0px 3vw;
    }

    .products-container {
      flex-direction:column;
    }

    .products-h4-position {
      height: 2rem;
    }

    .product-item {
      width: 100%;
      margin-bottom: 2rem;
    }

    .product-photo {
      width: 90%;
      padding: 2em 5%;
    }
  }


  @media screen and (min-width:577px) and (max-width:991px) {
    .store-products {
      margin: 2.5em 3vw;
    }

    .products-container {
      flex-wrap:wrap;
      justify-content: space-between;
    }

    .product-item {
      width: 48%;
      margin-bottom: 2em;
    }

    .product-photo {
      padding: .8em 1%;
    }
  }
  
  @media screen and (min-width:992px) {
    .store-products {
      width: 82vw;
      margin: 2.5em 9vw;
    }

    /*為了讓大網「精選商品區塊」與「主要資訊」對齊，所以在容器用一個負margin，把最右邊的product-item突出去的 margin 推回來*/
    .products-container {
      justify-content:space-between;
    }

    .product-item {
      width: 14.5%;
    }

    .product-photo {
      padding: .8em 5%;
    }

    .products-h4-position {
      height: 5rem;
    }
  }

</style>
