<template>
  <div class="tool-bar-container">
    <div class="information-discount">
      <p>{{ disInf }}</p>
    </div>

    <div class="tool-bar-group">
        <ul class="tool-bar-ul">
        <li class="check-more-items only-small-screen">
          <button v-on:click="openToolItem" class="check-more-btn">
            <div v-bind:class="{close:chekMoreOpen, 'down-triangle':checkMoreClose}" class="check-more-icon-position"></div>   
          </button>
        </li>
        <li class="currency-select">
            <select> 
              <option value="USD"><p>USD, $</p></option> 
              <option value="USD"><p>EUR, €</p></option>
            </select> 
            <div class="down-icon select-icon-position only-big-screen"></div>
        </li>

        <!-- 以下為tool bar 小網 CheckMore功能。因排版方式差異過巨故做成兩part，li、class為tool-item之元素為大網專用 -->
        <li class="tool-hidden-item js-tool-item"><a href="#"><p>Check out</p></a></li>
        <li class="tool-hidden-item js-tool-item"><a href="#"><p>My Accont</p></a></li>
        <li class="tool-hidden-item js-tool-item"><a href="#"><p>Whish List</p></a></li>
        <li class="tool-hidden-item js-tool-item"><a href="#"><p>Compare</p></a></li>

        <!-- 以下為tool bar 小網 CheckMore功能。此區段微小網專用 -->
        <li v-if="chekMoreOpen" class="only-small-screen mobile-tool-container">
          <div class="mobile-tool-item"><a href="#"><p>Check out</p></a></div>
          <div class="mobile-tool-item"><a href="#"><p>My Accont</p></a></div>
          <div class="mobile-tool-item"><a href="#"><p>Whish divst</p></a></div>
          <div class="mobile-tool-item"><a href="#"><p>Compare</p></a></div> 
        </li>

        <li><button class="chart-btn"><p>Chart</p></button></li>
        <li>
          <button class="search-btn">
            <div class="search-icon js-search-icon"></div>
          </button>
        </li>
      </ul>
  
      <button v-on:click="ChangMenuIcon" class="menu-icon-btn only-small-screen meddium-screen-hide">
        <div v-bind:class="{'mobile-menu-icon':menuClose, close:menuOpen}"></div>
      </button>
      
      <!-- 小網專用menu，因大網menu位於其他組件，故此拆分 -->
      <ul v-if="menuOpen" class="only-small-screen mobile-menu">
        <li class="mobile-menu-item"><a href="#"><p>Home</p></a></li>
        <li class="mobile-menu-item"><a href="#"><p>Pages</p></a></li>
        <li class="mobile-menu-item"><a href="#"><p>Shop</p></a></li>
        <li class="mobile-menu-item"><a href="#"><p>Blog</p></a></li>
      </ul>
    </div>
  </div>
</template>

<script>
let searchIcon = document.getElementsByClassName("js-search-icon")[0];

export default {
  name: 'Toolbar',

  data () {
    return {
      disInf: 'FREE SHIPPING in US on orders over £75!',
      currency: 'USD,$',
      orange: false,
      black: true,
      chekMoreOpen: false,
      checkMoreClose: true,
      menuOpen: false,
      menuClose: true
    }
  },

  methods: {
    openToolItem(){
      if(this.chekMoreOpen === false){
        this.chekMoreOpen = true;
        this.checkMoreClose = false;
      }else {
        this.chekMoreOpen = false;
        this.checkMoreClose = true;
      }
    },

    ChangMenuIcon(){
      if(this.menuOpen===false){
        this.menuOpen = true;
        this.menuClose = false;
      }else {
        this.menuOpen = false;
        this.menuClose = true;
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.tool-bar-container {
    display: flex;
}

.tool-bar-ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tool-bar-ul p:hover, .mobile-menu p:hover {
  color: #fdc631;
}

.search-btn, .chart-btn, .check-more-items>button {
  background: #FFFFFF; 
}

.currency-select {
  display: flex;
  align-items: center;
  position: relative;
}

.select-icon-position { 
  left: 2.4em;
  bottom: 1.2em;
  position: absolute;
}

.check-more-btn {
  width: 3rem;
}

.check-more-icon-position {
  top: 1em;
}

@media screen and (max-width:576px) {
  .tool-bar-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-between;
  }

  .tool-bar-group {
    width: 100vw;
    height: 8vh;
    display: flex;
    top: 0;
    flex-direction:row-reverse;
    justify-content: space-around;
    background: #FFFFFF;
    border-bottom: 1px solid hsla(0,0%,0%,1);
    position: fixed;
    z-index: 10;
  }

  .tool-bar-ul {
    width: 75vw;
    display: flex;
    justify-content:space-around;
    flex-direction:row-reverse;
  }

  .menu-icon-btn {
    background: #FFFFFF;
    width: 20vw;
    display: flex;
    justify-content: center;
  }

  .mobile-menu-icon {
    width: 1.8em;
    height: 1em;
    border: .2em solid hsla(0,0%,0%,1);
    border-left: 0px;
    border-right: 0px;
    margin-left: 30%;
    position: relative;
  }

  .mobile-menu-icon:after {
    content: "";
    width: 1.8em;
    border-top: 2px solid hsla(0,0%,0%,1);
    position: absolute;
    top: .36em;
    right: 0em;
  }

  .information-discount {
    display: flex;
    justify-content:center;
    padding: .8em 0em;
    margin-top: 9vh;
  }

  .tool-hidden-item {
    display: none;
  }

/*Check More 開啟時的CSS*/
  .mobile-tool-container {
    position: absolute;
    right: .6em;
    top: 7vh;
    background: #FFFFFF;
    display: flex;
    flex-direction:column;
    padding: 2em;
    padding-right: 4em;
  }

  .mobile-tool-item a, .mobile-menu-item a{
    display: inline-block;
    padding-bottom: .6em; 
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vh;
    left: .2em;
    padding: 2em;
    padding-right: 4em;
    background: #FFFFFF;
    z-index: 2;
  }
}

@media screen and (min-width:577px) and (max-width:992px) {
  .tool-bar-container {
    justify-content:space-between;
    width: 90%;
    height: 3em;
    margin: 0% 5%;
  }

  .tool-bar-group {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  .tool-hidden-item {
    display: none;
  }

  .information-discount {
    display: flex;
    align-items: center;
    
  }

  .information-discount>p {
    font-size: 13px;
  }

/*Check More 開啟時的CSS*/
  .mobile-tool-container {
    position: absolute;
    right: 13.2rem;
    top: 3.2vh;
    background: #FFFFFF;
    display: flex;
    flex-direction:column;
    padding: 2em;
    padding-right: 8em;
    z-index: 1;
  }

  .mobile-tool-item {
    margin-bottom: .6em; 
  }
 
}

@media screen and (min-width:993px) {
  .tool-bar-container {
    justify-content: space-between;
    padding: .2em 8em;
  }

  .tool-bar-group {
    display: flex;
    justify-content:space-between;
    width: 50vw;
  }

  .tool-bar-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

}

</style>
