<template>
  <div id="app">
    <app-index v-if="homePage" v-bind:products="products" v-on:checkproduct="turnOnProductPage"></app-index>
    <product v-if="productPage" v-bind:products="products" v-on:backhome="backHome"></product>
  </div>
</template>

<script>
import AppIndex from './pages/index.vue';
import Product from './pages/Product.vue';

// 商品圖片區
import productPhotosOne from "./assets/Honey-img01.png";
import productPhotosTwo from "./assets/Honey-img02.png";
import productPhotosThree from "./assets/Honey-img03.png";
import productPhotosFour from "./assets/Honey-img04.png";
import productPhotosFive from "./assets/Honey-img05.png";
import productPhotosSix from "./assets/Honey-img06.png";

export default {
  name: 'app',
  components: {
    'AppIndex': AppIndex,
    'Product': Product,
  },

  data () {
    return {
      // 換頁機制
      homePage: true,
      productPage: false,

      products:[
       {
          id: '01',
          creator: 'Bee Hives & Kits',
          name: 'Ambrosia Honey Co. Raw & Gently Filtered',
          prestige: 0,
          price: 125,
          photo: productPhotosOne,
          preOrder: true,
       },

       {
          id: '02',
          creator: 'Bee Hives & Kits',
          name: 'Les Abeilles Miel dacacia',
          prestige: 5,
          price: 22,
          photo: productPhotosTwo,
          preOrder: false,
       },
  
       {
          id: '03',
          creator: 'Bee Hives & Kits',
          name: 'Honey Suger',
          prestige: 0,
          price: 220,
          photo: productPhotosThree,
          preOrder: true,
       },
  
       {
          id: '04',
          creator: 'Bee Hives & Kits',
          name: 'French\'s Honey',
          prestige: 3,
          price: 720,
          photo: productPhotosFour,
          preOrder: false,
       },
  
       {
          id: '05',
          creator: 'Bee Hives & Kits',
          name: 'Great Value Organic Raw Honey, 16 Oz.',
          prestige: 4,
          price: 380,
          photo: productPhotosFive,
          preOrder: false,
       },
  
       {
          id: '06',
          creator: 'Bee Hives & Kits',
          name: 'Honey Three Suger',
          prestige: 2,
          price: 400,
          photo: productPhotosSix,
          preOrder: false,
       }
      ],
    }
  },

  methods:{
    turnOnProductPage:function(){
      this.homePage = false;
      this.productPage = true;
    },
    backHome:function(){
      this.homePage = true;
      this.productPage = false;
    }
  },
}
</script>

<style>
body {
  margin: 0; 
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p{
  margin: 0px;
}

h1, h2 {
  font-family: fantasy;
}

h3, h4 {
  font-family: Merriweather, serif;
}

h1 {
  font-size: calc(1.3em + 5vw);

}

h2 {
  font-size: calc(1.2em + 1vw);
}

h3 {
  font-size: calc(2em + 10%);
}

h4 {
 font-size: 18px;
}

p {
  font-size: 14px;
  text-align: justify;
}

ul {
  padding-left: 0em;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

select {
  appearance: none;
  background: transparent;
  border-style: none; 
  outline:none;
}

button {
  border-style: none;
  outline:none;
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
}

.a-block{
  display: inline-block;
}

.hide {
  display: none;
}

.uppercase-letter {
  text-transform: uppercase;
}

/*各種icon樣式*/
.down-icon {
  position: relative;
}

.down-icon:after {
  content: "";
  height: 5px;
  width: 5px;
  border: 1px solid hsla(0,0%,0%,1);
  border-top: 0px; 
  border-right: 0px; 
  position: absolute;
  transform: rotate(-45deg);
  top: .5em;
  right: -.8em;
}

.search-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid hsla(0,0%,0%,1);
  transform: rotate(45deg);
}

.search-icon:hover {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: rotate(45deg);
  border: 1px solid #fdc631;
}


.search-icon:after {
  content: "";
  width: 10px;
  border-top: 1px solid hsla(0,0%,0%,1);
  position: absolute;
  top: 0.5em;
  left: 1.2em;
}

.search-icon:hover:after {
  content: "";
  width: 10px;
  border-top: 1px solid #fdc631;;
  position: absolute;
  top: 0.5em;
  left: 1.2em;
}

.down-triangle {
  width: 0em;
  height: 0em;
  border-width: 1.3em;
  border-style: solid;
  border-color:  #000000 transparent transparent transparent;
  position: relative;
}

.down-triangle:before {
  content: "";
  border-width: 1.3em;
  border-style: solid;
  border-color:  #FFFFFF transparent transparent transparent;
  position: absolute;
  top: -1.4em;
  left: -1.3em;
}

.heart-icon {
  color: #000000;
  position: relative;
  margin-top: 6px;
  margin-left: 2px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  transform: rotate(-45deg);
}

.heart-icon:before {
   content: '';
   position: absolute;
   top: -5px;
   left: -1px;
   width: 8px;
   height: 5px;
   border-radius: 5px 5px 0 0;
   border-top: solid 1px currentColor;
   border-left: solid 1px currentColor;
   border-right: solid 1px currentColor;
}

.heart-icon:after {
   content: '';
   position: absolute;
   top: 0px;
   left: 8px;
   width: 5px;
   height: 8px;
   border-radius: 0 5px 5px 0;
   border-top: solid 1px currentColor;
   border-right: solid 1px currentColor;
   border-bottom: solid 1px currentColor;
}

.eye-icon {
  color: #000000;
  position: relative;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-left: 0px;
  border: solid 1px currentColor;
  border-radius: 70% 15%;
  transform: rotate(45deg);
}

.eye-icon:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: solid 1px currentColor;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}


.close {
  width: 2.2em;
  height: 2.2em;
  border-left: 1px solid #000000;
  position: relative;
  transform: rotate(45deg);
  right: -1em;
  top: .8em;
}

.close:after {
  content: "";
  width: 2.2em;
  height: 2.2em;
  border-top: 1px solid #000000;
  position: absolute;
  right: 1.1em;
  top: .98em;
}

/*按鈕樣式*/
.shop-btn {
  color: #FFFFFF;
  font-weight: bold;
  font-family: monospace;
  padding: 1.1rem 1.6rem 1.3rem 1.6rem;;
  background: rgb(253, 198, 49);
}

.creator {
  color: #f1b921;
}

.creator:hover {
  color: #000000;
}

/*星星評價樣式*/
.star-style {
  color: #dbdada;
}

.star-lightened {
  color: #fcdd09;
}

.prestige {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:576px) {
  .only-big-screen {
    display: none;
  }

  .shop-btn {
    font-size: 1.3rem;
  }

/*星星評價系統尺寸*/
  .prestige {
    width: 25%;
  }
}

@media screen and (min-width:577px) and (max-width:992px){
  .meddium-screen-hide {
    display: none;
  }

  .prestige {
    width: 35%;
  }

}

@media screen and (min-width:993px) {
  .only-small-screen {
    display: none;
  }

  .nav>ul, .tool-bar-container>ul {
    display: flex;
    justify-content: space-around;
  }

  .shop-btn {
    font-size: 1.5rem;
  }

  .prestige {
    width: 40%;
  }
}

</style>
